<nav>
    <div class="logo">LOGO</div>
    <div class="profile">
        <% if(user) { %>
            <div class="username">
                <%= user.firstName + ' ' + user.lastName %>
            </div>
            <a class="btn" href="/profile">My Profile</a>
            <a class="btn" href="/logout">Logout</a>
            <a class="btn" href="/">Home page</a>

            <% } %>
    </div>

    </div>
</nav>