

        <div class="dashboard-grid">
            <% offers.forEach(offer)=> %>
                <div class="card">
                    <div class="status">
                        <%= offer.status %>
                    </div>
                    <div class="name">
                        <%= offer.title %>
                    </div>
                    <div class="employer">
                        <%= offer.employer_name %>
                    </div>
                    <a href="" class="seemore">See more</a>
                </div>
        </div>
        
