<% if (offers.length) { %>
    <div>
        <h3>My Offers</h3>
        <% offers.forEach((offer)=> { %>
            <div>
                <p>
                    <%= offer.offerStatus %>
                </p>
                <h4>
                    <%= offer.jobTitle %>
                </h4>
                <p>
                    <%= offer.employerName %>
                </p>
                <a class="btn" href="/offer/<%= offer._id %>">See More</a>
            </div>
            <% }); %>
    </div>
    <hr>
    <% } else { %>
        <p>No offer found.</p>
        <% } %>