<%- include('partials/header') %>

   <h2 class="titleCreate">Create Offers</h2>
        <%- include('partials/nav') %>


             

                <form class="formCreate" method="POST">


                        <label for="jobTitle">title</label>
                        <input id="jobTitle" type="text" name="jobTitle" required />

                        <label for="url">url</label>
                        <input id="url" type="text" name="url" required />

                        <label for="employerName">employer name</label>
                        <input id="employerName" type="text" name="employerName" required />

                        <label for="employerEmail">email</label>
                        <input id="employerEmail" type="text" name="employerEmail" required />

                        <label for="employerPhone">phone</label>
                        <input id="employerPhone" type="text" name="employerPhone" />

                        <label for="employerAddress">address</label>
                        <input id="employerAddress" type="text" name="employerAddress" />

                        <label class="title" for="offerOrigin">Origin</label>
                        <select id="offerOrigin">
                                <option value="poleEmploi">linkedin</option>
                                <option value="indeed">indeed</option>
                                <option value="linkedin">forem</option>
                                <option value="autre">autre</option>
                        </select>

                        <label class="title" for="offerStatus">Status</label>
                        <select id="offerStatus">
                                <option value="pending">pending</option>
                                <option value="accepted">accepted</option>
                                <option value="refused">refused</option>
                        </select>

                        <label for="comments">comments</label>
                        <input id="comments" type="text" name="comments" /><br>

                        <input class="btn" type="submit" value="Envoyer" />


                        <!-- <a class="btn" href="/" type="submit" value="Envoyer">envoyer</a> -->

                </form>


                </div>


                <script>
                        const form = document.querySelector('form');
                        form.addEventListener('submit', async (e) => {
                                e.preventDefault();

                                const jobTitle = form.jobTitle.value;
                                const url = form.url.value;
                                const employerName = form.employerName.value;
                                const employerEmail = form.employerEmail.value;
                                const employerPhone = form.employerPhone.value;
                                const employerAddress = form.employerAddress.value;
                                const offerOrigin = form.offerOrigin.value;
                                const offerStatus = form.offerStatus.value;
                                const comments = form.comments.value;


                                try {

                                        const res = await fetch("/create-offer", {
                                                method: "POST",
                                                headers: { "Content-Type": "application/json" },
                                                body: JSON.stringify({ jobTitle, url, employerName, employerEmail, employerPhone, employerAddress, offerOrigin, offerStatus, comments }),

                                        });

                                        res.json()
                                        if (res.status === 201) {
                                                window.location.href = "/";
                                        }
                                }
                                catch (err) {
                                        console.log(err);

                                }
                        });

                </script>
                <%- include('partials/footer') %>