<%- include('partials/header') %>


        <%- include('partials/nav') %>


                <div class="offers">
                        <form class="create-offer" method="POST">
                                <h2 class="createdAt">Create Offers</h2>

                                <label class="createTitle" for="jobTitle">title</label>
                                <input type="text" name="title" required />

                                <label class="createTitle" for="url">url</label>
                                <input type="text" name="url" required />

                                <label class="createTitle" for="employerName">employer name</label>
                                <input type="text" name="employerName" required />

                                <label class="createTitle" for="employerEmail">email</label>
                                <input type="text" name="employerEmail" required />

                                <label class="createTitle" for="employerPhone">phone</label>
                                <input type="text" name="employerPhone" />

                                <label class="createTitle" for="employerAddress">address</label>
                                <input type="text" name="employerAddress" />

                                <label class="createTitle" for="offerOrigin">origin</label>
                                <input type="text" name="offerOrigin" />

                                <label class="createTitle" for="offerStatus">status</label>
                                <input type="text" name="offerStatus" />

                                <label class="createTitle" for="comments">comments</label>
                                <input type="text" name="comments" />

                                <!-- 
                                <label for="author">author</label>
                                <input type="text" name="author" /> -->

                        </form>
                        <a class="btn" href="/" type="submit" value="Envoyer">envoyer</a>
                        <!-- <a class="btn" href="/">home page</a> -->

                </div>


                <script>
                        const form = document.querySelector('form');
                        form.addEventListener('submit', async (e) => {
                                e.preventDefault();

                                const jobTitle = form.title.value;
                                const url = form.url.value;
                                const employerName = form.employerName.value;
                                const employerEmail = form.employerEmail.value;
                                const employerPhone = form.employerPhone.value;
                                const employerAddress = form.employerAddress.value;
                                const offerOrigin = form.offerOrigin.value;
                                const offerStatus = form.offerStatus.value;
                                const comments = form.comments.value;


                                try {

                                        const res = await fetch("/create-offer", {
                                                method: "POST",
                                                headers: { "Content-Type": "application/json" },
                                                body: JSON.stringify({ jobTitle, url, employerName, employerEmail, employerPhone, employerAddress, offerOrigin, offerStatus, comments }),

                                        });

                                        res.json()
                                        if (res.status === 201) {
                                                window.location.href = "/";
                                        }
                                }
                                catch (err) {
                                        console.log(err);

                                }
                        });

                </script>
                <%- include('partials/footer') %>