<%- include('partials/header') %>


        <%- include('partials/nav') %>


                <div class="offers">
                        <form class="create-offer" method="POST">
                                <h2 class="createdAt">Create Offers</h2>

                                <label for="jobTitle">title</label>
                                <input id="jobTitle" type="text" name="jobTitle" required />

                                <label for="url">url</label>
                                <input id="url" type="text" name="url" required />

                                <label for="employerName">employer name</label>
                                <input id="employerName" type="text" name="employerName" required />

                                <label for="employerEmail">email</label>
                                <input id="employerEmail" type="text" name="employerEmail" required />

                                <label for="employerPhone">phone</label>
                                <input id="employerPhone" type="text" name="employerPhone" />

                                <label for="employerAddress">address</label>
                                <input id="employerAddress" type="text" name="employerAddress" />

                                <label for="offerOrigin">origin</label>
                                <input id="offerOrigin" type="text" name="offerOrigin" />

                                <label for="offerStatus">status</label>
                                <input id="offerStatus" type="text" name="offerStatus" />

                                <label for="comments">comments</label>
                                <input id="comments" type="text" name="comments" />

                                <!-- 
                                <label for="author">author</label>
                                <input type="text" name="author" /> -->
                                <a class="btn" href="/" type="submit" value="Envoyer">envoyer</a>
                                <!-- <button type="submit">envoyer</button> -->
                        </form>

                        <!-- <a class="btn" href="/">home page</a> -->

                </div>


                <script>
                        const form = document.querySelector('form');
                        form.addEventListener('submit', async (e) => {
                                e.preventDefault();

                                const jobTitle = form.jobTitle.value;
                                const url = form.url.value;
                                const employerName = form.employerName.value;
                                const employerEmail = form.employerEmail.value;
                                const employerPhone = form.employerPhone.value;
                                const employerAddress = form.employerAddress.value;
                                const offerOrigin = form.offerOrigin.value;
                                const offerStatus = form.offerStatus.value;
                                const comments = form.comments.value;

                                console.log("Je suis dans l'event listner")
                                try {
                                        console.log("Je lance le post")
                                        const res = await fetch("/create-offer", {
                                                method: "POST",
                                                headers: { "Content-Type": "application/json" },
                                                body: JSON.stringify({ jobTitle, url, employerName, employerEmail, employerPhone, employerAddress, offerOrigin, offerStatus, comments }),

                                        });

                                        res.json()
                                        if (res.status === 201) {
                                                window.location.href = "/";
                                        }
                                }
                                catch (err) {
                                        console.log(err);

                                }
                        });

                </script>
                <%- include('partials/footer') %>