<%- include('partials/header') %>
    <a class="btn" href="/login">Logout</a>
  

    <h1 class="title_dashboard">Dashboard</h1>
    <a class="btn" href="/create-offer">Create a new job</a>

    <form id="filter-form" action="/filter-offers" method="GET">
        <label for="filter">Filter by</label>
        <select name="filter" id="filter">
            <option value="status">Status</option>
            <option value="date">Date</option>
        </select>

        <label for="order">Order</label>
        <select name="order" id="order">
            <option value="asc">Asc.</option>
            <option value="dsc">Dsc.</option>
        </select>
        <input class="btn" type="submit" value="Filter" />
    </form>


    <!-- AFFICHER OFFRES  -->

                <%- include('partials/offers-grid'); %>

                    <%- include('partials/footer'); %>

            <script>
                const filterForm = document.querySelector('#filter-form');
                const filter = document.querySelector('#filter');
                const order = document.querySelector('#order');

                filterForm.addEventListener('submit', (e) => {
                    e.preventDefault();

                    const filterValue = filter.value;
                    const orderValue = order.value;

                    // Redirect to index.ejs with new filter parameters
                    window.location.href = `/?filter=${filterValue}&order=${orderValue}`;
                })
            </script>