<%- include('partials/header'); -%>

    <form class="container"  method="post">
        <h2 class="title">login</h2>

        <label for="email">Email</label>
        <input type="text" name="email" id="email"></input>
        <div class="email error"></div>

        <label for="password">Password</label>
        <input type="password" name="password" id="password"></input>
        <div class="password error"></div>

        <button>login</button>
        <a class="register" href="/register">register</a>
    </form>

    <%- include('partials/footer'); -%>
<!-- 
        <script>
            const form = document.querySelector('form');
            form.addEventListener('submit', (e) => {
                e.preventDefault();

                const email = form.email.value;
                const password = form.password.value;
                console.log(email, password);
            })

        </script> -->