<%- include('partials/header'); -%>

    <form>
        <h2>login</h2>

        <label for="email">Email</label>
        <input type="text" name="email" required />
        <div class="email error"></div>

        <label for="passord">Password</label>
        <input type="password" name="password" required></input>
        <div class="password error"></div>

        <a class="login" href="/">login</a>
        <a class="register" href="/register">register</a>
    </form>


    <script>
        const form = document.querySelector('form');
        form.addEventListener('submit', (e) => {
            e.preventDefault();

            const email = form.email.value;
            const password = form.password.value;
            console.log(email, password);
        })
    </script>


    <%- include('partials/footer'); -%>