<%- include('partials/header'); -%>


    <div class="container_login">
        <form method="POST">
            <h1 class="title"></h1>

            <label for="email"></label>
            <input type="text" name="email" id="email" placeholder="Email""></input>
            <div class=" email error">
    </div>

    <label for="password"></label>
    <input type="password" name="password" id="password" placeholder="Password"></input>
    <div class="password error"></div>

    <input type="submit"></input>
    <a class="register" href="/register">register</a>
    </form>

    
    <div class="drop drop-1"></div>
    <div class="drop drop-2"></div>
    <div class="drop drop-4"></div>
    </div>

    <%- include('partials/footer'); -%>

        <script>
            const form = document.querySelector('form');
            form.addEventListener('submit', async (e) => {
                e.preventDefault();

                const email = form.email.value;
                const password = form.password.value;

                try {

                    const res = await fetch("/login", {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify({ email, password }),

                    });

                    res.json()
                    if (res.status === 200) {
                        window.location.href = "/";
                    }
                }
                catch (err) {
                    console.log(err);

                }
            })

        </script>