<%- include('partials/header') %>


    <%- include('partials/nav') %>

        <h1>My profile</h1>

        <div class="profil">
            <div class="picture"></div>
            <div class="info">
                <div class="full-name">Full name</div>
                <div class="email">Email</div>
                <div class="github">GitHub</div>
            </div>
        </div>
        <div class="buttons">
            <div class="dl_cv">

            </div>
            <div class="update_cv">

            </div>
            <div class="change_password">
            </div>
        </div>
        <a class="btn" href="/">home page</a>
        <%- include('partials/footer') %>