<%- include('partials/header'); -%>

    <form method="POST">
        <h2 class="title">Register</h2>

        <label for="firstname">firstname</label>
        <input type="text" name="firstName" required />

        <label for="lastname">lastname</label>
        <input type="text" name="lastName" required />

        <label for="email">email</label>
        <input type="text" name="email" required />

        <label for="github">github</label>
        <input type="text" name="github" />

        <label for="profilePicture">profilePicture</label>
        <input type="file" name="profilePicture" id="profilePicture" />

        <label for="resume">CV</label>
        <input type="file" name="resume" id="resume" />

        <label for="password">password</label>
        <input type="password" name="password" required />

        <label for="repeatPassword"> repeat password</label>
        <input type="password" required />

        <button type="submit">Register</button>
        <a class="btn" href="/login">home page</a>
    </form>

    <script>
        const form = document.querySelector('form');
        form.addEventListener('submit', async (e) => {
            e.preventDefault();
            console.log("Submit post");
            const firstName = form.firstName.value;
            const lastName = form.lastName.value;
            const email = form.email.value;
            const github = form.github.value;
            const profilePicture = form.profilePicture.value;
            const resume = form.resume.value;
            const password = form.password.value;
            // const repeatPassword = form.repeatPassword.value;

            // cloudinary.uploader.upload(profilePicture, function (error, result) {
            //     console.log(result, error);
            // });


            try {
                const res = await fetch("/register", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({ firstName, lastName, email, github, profilePicture, resume, password }),

                });
                const data = await

                    res.json()
                if (res.status === 201) {
                    window.location.href = "/login";
                }
            }
            catch (err) {
                console.log(err);

            }
        })
        // form.submit();
        //form.dispatchEvent(new Event('submit'));
    </script>

    <%- include('partials/footer'); -%>