<nav>
    <div class="logo">LOGO</div>
    <div class="profile">
        <div class="username"></div>
        <div class="userpicture"></div>
        <a href="/profile">My profile</a>
    </div>
</nav>