h2.titleCreate {
  font-size: 3rem;
  font-family: "Dhurjati", sans-serif;
  font-weight: 500;
  background: rgba(0, 0, 0, 0.564);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  text-transform: uppercase;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center !important;
  place-items: center;
}

.formCreate {
  display: flex;
  flex-direction: column;
  background-color: rgba(1, 1, 1, 0.3);
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  padding: 3rem;
  border-radius: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: auto; // Center horizontally
  margin-top: 100px;
  width: 40%;

  @media (max-width: 768px) {
    width: 80%;
  }
}

.btnForm {
  transform: translate(-50%, -50%);
  background: black;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding: 1rem;
  width: 100px;
  border-radius: 50px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  margin-bottom: 2em;
  cursor: pointer;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  gap: 3px;
  margin-bottom: 10px;
}

.label select#offerOrigin {
  color: white;
  background: rgba(26, 24, 24, 0.524);
  width: 150px;
}

.label select#offerStatus {
  color: white;
  background: rgba(26, 24, 24, 0.524);
  width: 150px;
}

@media (max-width: 768px) {
  .formCreate {
    width: 90%;
  }
}

label.labelTitle {
  margin-bottom: 5px;
}