

.myProfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8%;
    color:black;
    text-transform: uppercase;
    gap: 30px;  
}

hr {
    width: 30%;
    margin-bottom: 30px;    
    border: solid 1px black;
}

a{
    text-decoration: none;
    color:black
}

.btn_download {
    color: black;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    margin: 0;
    display: flex;
    border: none;
    padding: 6px;
    border-radius: 10px;
    width: 20vw;
    background-color: transparent;
}


h1.titleProfil {
    margin-top: 5%;
}

// Media queries for responsiveness
@media screen and (max-width: 768px) {
    .myProfil {
        padding-top: 4%;
    }

    hr {
        width: 50%;
    }

    .btn_download {
        width: 40vw;
    }

    h1.titleProfil {
        margin-top: 3%;
    }
}