

.myProfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8%;
    color: white;
    text-transform: uppercase;

    gap: 30px;  
}

hr {
width: 30%;
margin-bottom: 30px;
}

.btn_download {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0;
    display: flex;
    border: none;
    padding: 6px;
    border-radius: 10px;
    width: 20vw;
    background-color: transparent;


}


.btn_download:hover {
    color: pink;
    background-color: white;
    text-transform: uppercase;
}

// .btn_profil{
//     margin-bottom: 50px;
// }

h1.titleProfil {
    margin-top: 5%;
}