h1.title_offer {
    color: white;
    text-align: center;
}
.offer-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50%;
    color: white;
    text-transform: uppercase;
}
