h1.title_offer {
    color: white;
    text-align: center;
}
.offer-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    text-transform: uppercase;
}
form.containerCreate {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    text-transform: uppercase;
    width: 75%;
    margin-top: 10%;
    margin-bottom: 16.2%;
}