
.title_offers{
    font-size: 3rem;
    font-family: 'Dhurjati', sans-serif;
    font-weight: 500;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 40px;
    text-transform: uppercase;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 8.1%;
}
.grid-item{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 3rem;
    .jobTitle{
        font-size: 2rem;
        font-weight: 500;
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;
    }
    .offerStatus {
        margin-bottom: 3rem;
    }
    .offerName{
        margin-bottom: 1rem;;
    }
}
.grid-item:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    text-align: center;
}

form.containerCreate {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    text-transform: uppercase;
    width: 75%;
}

h2.titleCreate{
    color: white;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
    text-transform: uppercase;
}
.offer-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    text-transform: uppercase;
}
.selectOrigin {
    width: 9%;
}
select#offerOrigin {
    width: 9%;
}