@import "login";
@import "register";
@import "index";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};

body {
    background: linear-gradient(45deg, #fc466b, #3f5efb);
    height: 100vh;
    font-family: arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
};