@import "login";
@import "register";
@import "index";
@import "offers-grid";
@import "navbar";
@import "myProfil";
@import "createOffer";
@import "update";
@import "footer";
@import "errors";   

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  font-family: arial, sans-serif;
  background-repeat: no-repeat;
  max-width: 1200px;
  margin: 0 auto;
}

body {
  // background: linear-gradient(45deg, #fc466b, #3f5efb);*
  background-color:wheat;
  min-height: 100vh;
}

.btn {
  background:rgba(26, 24, 24, 0.524);  
  color:rgb(255, 255, 255);
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding: 1rem;
  width: 100px;
  border-radius: 50px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.btn:hover {
  color: black;
  background-color: white;
  text-transform: uppercase;
}



a:hover {
  color:white;
  border: 2px solid black
}

a:active {
  text-shadow: none;
}

input {
  background: wheat;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding: 1rem;
  border-radius: 50px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: black;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: all 0.3s;
  margin-bottom: 2em;
  font-size: 15px;
  cursor: pointer;
}

input:hover,
input[type="text"]:focus,
input[type="text"]:focus {
  color: black;
  box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  margin-top: 10px;
  width: 150px;
  font-size: 1rem;
}

// Media Queries
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 1rem;
  }
  
  .btn {
    width: 80px;
  }
  
  input[type="submit"] {
    width: 120px; 

     cursor: pointer;
    
  }
}

input:hover, input[type="text"]:focus, input[type="text"]:focus {
  color: black;
  border: 2px solid black;
  box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 60px 8px;
  text-transform: uppercase;
}

::placeholder {
  color: black
}


